{
    "server":{
        "run_mode":"debug",
        "listen_addr":":8010",
        "limit_connection":0,
        "root_router_prefix":"api",
        "read_timeout":60,
        "write_timeout":60,
        "idle_timeout":120,
        "max_header_bytes":1048576
    },
    "witnesses":{
        "1.6.1":{
            "country":{
                "en":"China",
                "zh-CN":"中国"
            },
            "logo":""
        },
        "1.6.2":{
            "country":{
                "en":"China",
                "zh-CN":"中国"
            },
            "logo":""
        }
    },
    "committee":{
        "1.5.0":{
            "country":{
                "en":"China",
                "zh-CN":"中国"
            },
            "logo":""
        },
        "1.5.1":{
            "country":{
                "en":"China",
                "zh-CN":"中国"
            },
            "logo":""
        }
    },
    "langs":{
        "default":"zh-CN",
        "allows":["zh-CN","en"]
    },
    "mongo":{
        "uri":"",
        "database":"",
        "collection":""
    },
    "mysql":{
        "driver": "mysql",
        "host": "",
        "port": "",
        "user": "",
        "password": "",
        "db_name": ""
    },
    "api_url":"https://test.cocosbcx.net/api/v1"
}