
html, body, div, p, ul, ol, li, span, a{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    list-style-type:none;
    font-size: 12px;
    color: #333;
}
html, body{
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 100px;
    background:rgba(246,247,251,1);
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
    color: #2bc3a3;
}
input:focus{
    border: none;
}
input  {

    border:0;outline:none;

  }

  input::-webkit-input-placeholder{
      color:rgba(165,169,177,1);
  }
  input::-moz-placeholder{   /* Mozilla Firefox 19+ */
      color:rgba(165,169,177,1);
  }
  input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
      color:rgba(165,169,177,1);
  }
  input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
      color:rgba(165,169,177,1);
  }


/*功能样式*/
.bgf5f9fc{
    background: #f5f9fc;
}

.mart10{
	margin-top: 10px;
}
.marl10{
	margin-left: 10px;
}
.marr10{
	margin-right: 10px;
}
.marb10{
    margin-bottom: 10px;
}
.padt10{
    padding-top: 10px;
}
.padl10{
    padding-left: 10px;
}
.padr10{
    padding-right: 10px;
}
.padb10{
    padding-bottom: 10px;
}

.mart12{
    margin-top: 12px;
}
.mat13{
    margin-top: 13px;
}
.mart15{
    margin-top: 15px;
}
.marl15{
    margin-left: 15px;
}
.marr15{
    margin-right: 15px;
}
.marb15{
    margin-bottom: 15px;
}
.padt15{
    padding-top: 15px;
}
.padl15{
    padding-left: 15px;
}
.padr15{
    padding-right: 15px;
}
.padb15{
    padding-bottom: 15px;
}


.mart20{
    margin-top: 20px;
}
.marl20{
    margin-left: 20px;
}
.marr20{
    margin-right: 20px;
}
.marb20{
    margin-bottom: 20px;
}
.padt20{
    padding-top: 20px;
}
.padl20{
    padding-left: 20px;
}
.padr20{
    padding-right: 20px;
}
.padb20{
    padding-bottom: 20px;
}


.mart25{
    margin-top: 25px;
}
.marl25{
    margin-left: 25px;
}
.marr25{
    margin-right: 25px;
}
.marb25{
    margin-bottom: 25px;
}
.padt25{
    padding-top: 25px;
}
.padl25{
    padding-left: 25px;
}
.padr25{
    padding-right: 25px;
}
.padb25{
    padding-bottom: 25px;
}

.mart30{
    margin-top: 30px;
}
.marl30{
    margin-left: 30px;
}
.marr30{
    margin-right: 30px;
}
.marb30{
    margin-bottom: 30px;
}
.padt30{
    padding-top: 30px;
}
.padl30{
    padding-left: 30px;
}
.padr30{
    padding-right: 30px;
}
.padb30{
    padding-bottom: 30px;
}

.mart40{
    margin-top: 40px;
}
.marl40{
    margin-left: 40px;
}
.marr40{
    margin-right: 40px;
}
.marb40{
    margin-bottom: 40px;
}
.padt40{
    padding-top: 40px;
}
.padl40{
    padding-left: 40px;
}
.padr40{
    padding-right: 40px;
}
.padb40{
    padding-bottom: 40px;
}


.mart45{
    margin-top: 45px;
}
.marl45{
    margin-left: 45px;
}
.marr45{
    margin-right: 45px;
}
.marb45{
    margin-bottom: 45px;
}
.padt45{
    padding-top: 45px;
}
.padl45{
    padding-left: 45px;
}
.padr45{
    padding-right: 45px;
}
.padb45{
    padding-bottom: 45px;
}


.mart50{
    margin-top: 50px;
}
.marl50{
    margin-left: 50px;
}
.marr50{
    margin-right: 50px;
}
.marb50{
    margin-bottom: 50px;
}
.padt50{
    padding-top: 50px;
}
.padl50{
    padding-left: 50px;
}
.padr50{
    padding-right: 50px;
}
.padb50{
    padding-bottom: 50px;
}


.mart60{
    margin-top: 60px;
}
.marl60{
    margin-left: 60px;
}
.marr60{
    margin-right: 60px;
}
.marb60{
    margin-bottom: 60px;
}
.padt60{
    padding-top: 60px;
}
.padl60{
    padding-left: 60px;
}
.padr60{
    padding-right: 60px;
}
.padb60{
    padding-bottom: 60px;
}
.blank70{
	width: 100%;
	height: 70px;
}

.mart80{
    margin-top: 80px;
}


/* 标题 */

.container-title{
    width: 100%;
    height: 54px;
    line-height: 54px;
    margin-top: 26px;
    border-bottom: 5px solid rgba(14,217,255,1);
  }
  
  .title-main{
    width: 202px;
    height: 54px;
    position: relative;
  }
  .title-main .title-content{
    margin-right: 10px;
    width: 222px;
    height: 54px;
    line-height: 54px;
    font-size:20px;
    font-weight:400;
    color:rgba(255,255,255,1);
    text-align: center;
  }
  .title-main .title-main-bg{
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 202px;
    height: 54px;
    background:rgba(88,88,88,1);
    transform: skewX(-20deg);
    z-index: -100;
  }
  .title-main .title-main-bg-mask{
    position: absolute;
    top: 0;
    left: 104px;
    width: 202px;
    height: 54px;
    background:rgba(14,217,255,1);
    transform: skewX(-20deg);
    z-index: -200;
  }




.mint-indicator-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page-loadmore-wrapper {
    overflow: scroll!important;
    z-index: 100!important;
}
.toast-style span{
  color: #fff!important;
}

.mint-msgbox .mint-msgbox-content .mint-msgbox-message{
  color: #333333 !important;
}

.required{
    color: #ff0000!important;
}